<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LaTeX Translator</title>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
	<header class="mx-auto w-full mb-10 text-center p-8 rounded-lg shadow-md">
		<img class="w-52 h-52 mx-auto mb-5" src="../assets/images/ilt.png" alt="LaTeX Translator Logo">
		<h1 class="text-2xl">Welcome to LaTeX Translator!</h1>
	</header>
	<main class="flex justify-center">
		<div class="m:w-1/2 w-full shadow-md p-10">
			<h2 class="mb-10 text-3xl">¿Qué es LaTeXTranslator?</h2>
			<p>
				LaTeX Translator es una herramienta diseñada para mejorar la accesibilidad de documentos escritos en
				LaTeX, especialmente para personas con discapacidad visual que dependen de lectores de pantalla. Esta
				herramienta especializada facilita la traducción de archivos LaTeX a archivos de texto plano, mejorando
				la comprensión de contenido matemático y científico.
			</p><br>
			<p>
				LaTeX Translator garantiza una experiencia de lectura accesible al convertir ecuaciones, símbolos y
				fórmulas matemáticas en un formato inspirado en ASCIIMath, que es fácilmente comprensible para los
				usuarios que utilizan lectores de pantalla.
			</p>
		</div>
		<div class="m:w-1/2 w-full shadow-md">
			<div class="text-center text-3xl p-10">
				<h2>Carga tu archivo LaTeX que quieras traducir y mira la magia!</h2>
			</div>
			<div class="items-center justify-center">
				<form action="/translation/" method="post" enctype="multipart/form-data">
					{{ form_translator.hidden_tag() }}
					<div class="text-center items-center justify-center">
						{{ form_translator.LaTeXFile(id="LaTeXFile", role="button") }}
					</div>
					<div class="mt-6 text-center">

						{{ form_translator.translator_submit(id="translator_submit", class="border border-green-500
						bg-green-500 text-white py-2 px-4 rounded") }}
						{% if session['translate'] %}
						<p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg mt-5 text-center">
							{{message_error}}</p>

						{% endif %}
					</div>
				</form>
			</div>
		</div>
	</main>
	<footer class="flex items-center justify-between bg-white text-black p-8">
		<div class="flex">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<path
					d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
			</svg>
			<a class="ml-1" href="https://github.com/brunoprietog/latextranslator">GitHub</a>
		</div>
		<div>
			<p>&copy; LaTeX Translator. All Rights Reserved. </p>
		</div>
	</footer>
</body>

</html>